body {
      color: #000;
      font-family:Monospace;
      font-size:13px;
      text-align:center;
      font-weight: bold;
      background-color: #fff;
      margin: 0px;
      overflow: hidden;
}
#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { display: none }
